# Python 编译缓存
__pycache__/
*.py[cod]
*$py.class
*.so

# Python 环境/包
.Python
env/
.venv/
venv/
ENV/
lib/
lib64/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller 打包产物（重要！）
build/
dist/
*.exe
*.spec

# 日志与环境变量
*.log
.env
.env.local

# 系统/编辑器文件
.DS_Store
.idea/
.vscode/
*.swp
*.pkl